body {
    font-family: 'Open Sans', sans-serif;
    background-color: #020A18;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 39px 0px;
    gap: 32px;
    border-radius: 10px;
}

.header_link {
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    -webkit-transition: all 1s ease;
        transition: all 1s ease; /* Время изменения цвета */
}

.header_link:hover{
    color: #ffa000; /* Меняем цвет ссылки */
}

.top {
    padding-bottom: 99px;
}

.top_content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top_info {
    width: 604px;
}

.subtitle {
    font-family: 'Open Sans';
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title {
    font-family: 'Open Sans';
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.text {
    width: 558px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.top_buttons {
    margin-top: 50px;
    margin-right: 128px;
    top: 358px;
    display: flex;
    justify-content: flex-start;
}

.button1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    top: 358px;
    background: #3A68B8;
    border-radius: 5px;
}

.button2 {
    margin-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    top: 358px;
    background: #3A68B8;
    border-radius: 5px;
}

.button1:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.button2:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.top_logos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 71px;
}

.content {
    background: #020A18;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top {
        padding-bottom: 120px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top_logos {
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content {
        grid-template-columns: repeat(1, 362px);
        gap: 30px;
    }

    .item_big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item_big img {
        width: 98px;
    }


}